# Файлы и папки PyCharm
.idea/
*.iml

# Кэш и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение (если используется)
venv/
env/
.virtualenvs/

# Логи и отладочная информация
*.log
debug.log
